*.dll

SCNews.4.5.resharper.user
SCNews.5.1.ReSharper.user
UpgradeLog.XML
_ReSharper.SCNews/
SCNews.suo
SCNews.vsmdi

BattleNetInfo/bin/
BattleNetInfo/obj/
BattleNetInfo/BattleNetInfo.csproj.user

TestBattleNetInfo/bin/
TestBattleNetInfo/obj/
TestBattleNetInfo/AuthoringTests.txt
TestBattleNetInfo/TestBattleNetInfo.csproj.user

SCNews/web.config
SCNews/SCNews.Publish.xml
SCNews.csproj.user
SCNews/Content/Replays/
SCNews/Content/Gallery/
SCNews/Content/img/banners/
SCNews/obj/
SCNews/bin/
SCNews/ckeditor/